# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# build folder
target/

# dev environment
.vscode/
.idea

# cache and test files
thumbnail_cache/
full_image_cache/
images/

# log files
*.log